
{% extends 'base.html' %}

{% block content %}

<h1> About This Project </h1>

<div>This project was a fusion of my interests in finance and technology. Leveraging Alphavantage's API, I integrated real-time stock market data, encompassing price 
    dynamics and relevant information. I created price plots using ChartJs based on historical price data. I also created a portfolio section where users can add/remove stocks to their portfolio
    which then gets stored to Django's database. This project gave me a deeper understanding of RESTful API's, Django's database structure and data visualization.  </div>

{% endblock %}
